version: 2.1

orbs:
  browser-tools: circleci/browser-tools@1.5.2

# Configuration
job_defaults_var: &job_defaults
  working_directory: ~/workspace/app
  docker:
    - image: cimg/node:22.16.0-browsers

# PNPM cache key
cache_var: &cache_key pnpm-packages-v5-{{ .Branch }}-{{ checksum "pnpm-lock.yaml" }}

# Install pnpm
install_pnpm_var: &install_pnpm
  run:
    name: Install pnpm
    command: |
      corepack enable
      corepack prepare pnpm@10.19.0 --activate

# Install pnpm packages
pnpm_install_var: &pnpm_install
  run:
    name: PNPM Install Packages
    # We install deps based on the frozen pnpm file, so we know it's always the same
    command: |
      pnpm install --frozen-lockfile
      pnpm tutorials:install

# Save pnpm cache
save_cache_var: &save_cache
  save_cache:
    name: Save Pnpm Package Cache and Cypress binary
    key: *cache_key
    paths:
      - ~/.local/share/pnpm/store

# Restore pnpm cache
restore_cache_var: &restore_cache
  restore_cache:
    name: Restore Pnpm Package Cache
    keys:
      - *cache_key
      - pnpm-packages-v6-master
      - pnpm-packages-v6

# Persist the whole working space so we can share it between jobs
persist_workspace_var: &persist_workspace
  persist_to_workspace:
    # Must be an absolute path, or relative path from working_directory. This is a directory on the container which is
    # taken to be the root directory of the workspace.
    root: ~/workspace
    # Must be relative path from root
    paths:
      - app

# Attach working space
attach_workspace_var: &attach_workspace
  attach_workspace:
    # Must be absolute path or relative path from working_directory
    at: ~/workspace

#
# Jobs
#
jobs:
  build:
    <<: *job_defaults
    steps:
      # npm link will fail if we don't override the global install path to a path where we have right permissions
      - run:
          name: Set NPM global path
          command: echo 'prefix = ~/.npm' > ~/.npmrc
      - *install_pnpm
      - checkout
      # The Circle CI caching for pnpm takes longer than the pnpm install. Removed caching.
      # - *restore_cache
      - *pnpm_install
      # - *save_cache
      - run:
          name: Compile NGXS
          command: pnpm build
      - run:
          name: Create Pack
          command: pnpm pack && mv *.tgz ngxs-core.tgz
      - *persist_workspace
      - store_artifacts:
          path: ngxs-core.tgz
          destination: dist/ngxs-core.tgz

  eslint:
    <<: *job_defaults
    steps:
      - *attach_workspace
      - run:
          name: Run ESLint analyzer
          command: pnpm nx run-many --target=lint --all --exclude=create-app

  unit_tests:
    <<: *job_defaults
    environment:
      # variables used by karma to export a circleci test insights
      JUNIT_REPORT_PATH: coverage/junit/unit_tests
    steps:
      - *attach_workspace
      - run:
          name: Unit Tests
          command: pnpm nx run-many --target=test --all --configuration=ci --maxWorkers=4
      - store_test_results:
          path: coverage/junit
      - store_artifacts:
          path: coverage/junit
          destination: junit
      - persist_to_workspace:
          root: ~/workspace
          paths:
            - app/coverage

  integration_tests:
    <<: *job_defaults
    steps:
      - *attach_workspace
      - run:
          name: Integration Tests
          command: pnpm test:ci:integration
      - *persist_workspace
      - store_artifacts:
          path: dist-integration
          destination: dist-integration

  cypress:
    <<: *job_defaults
    steps:
      - *attach_workspace
      - *restore_cache
      - run:
          name: Run E2E tests
          command: pnpm test:ci:e2e

  integration_ssr_tests:
    <<: *job_defaults
    steps:
      - *attach_workspace
      - *restore_cache
      - run:
          name: Run integration tests for the SSR build application
          command: pnpm test:ci:integration:ssr

  integration_ng21_tests:
    <<: *job_defaults
    steps:
      - *attach_workspace
      - browser-tools/install-browser-tools
      - run:
          name: Run integration tests for ng21 application
          command: pnpm integration:ng21
      - persist_to_workspace:
          root: ~/workspace
          paths:
            - app/integrations/hello-world-ng21/dist-integration

  integration_test_types:
    <<: *job_defaults
    steps:
      - *attach_workspace
      - run:
          name: Test types
          command: pnpm test:types

  # Publish latest build to npm under the @next tag
  publish_dev_build_to_npm:
    <<: *job_defaults
    steps:
      - *attach_workspace
      - run:
          name: Set NPM publish token
          command: echo "//registry.npmjs.org/:_authToken=${NPM_TOKEN}" > ~/.npmrc
      - deploy:
          name: Publish development builds to all @ngxs packages
          command: pnpm publish:dev

  # Publish tagged build to npm under the @latest tag
  publish_tagged_build_to_npm:
    <<: *job_defaults
    steps:
      - *attach_workspace
      - run:
          name: Set NPM publish token
          command: echo "//registry.npmjs.org/:_authToken=${NPM_TOKEN}" > ~/.npmrc
      - deploy:
          name: Publish tagged builds to all @ngxs packages
          command: pnpm publish:tagged
#
# Workflow
#
workflows:
  version: 2
  build-workflow:
    jobs:
      # Run build for all branches and tags
      - build:
          filters:
            tags:
              only: /.*/

      - eslint:
          requires:
            - build

      - unit_tests:
          requires:
            - build

      ### - integration_tests:
      ###     requires:
      ###       - build
      ###
      ### - cypress:
      ###     requires:
      ###       - integration_tests
      ###
      ### - integration_ssr_tests:
      ###     requires:
      ###       - build

      - integration_ng21_tests:
          requires:
            - build

      - integration_test_types:
          requires:
            - build

      # Publish @dev builds if no tag is specified
      - publish_dev_build_to_npm:
          filters:
            branches:
              only:
                - master
            tags:
              ignore: /.*/
          requires:
            - unit_tests
            ### - integration_tests
            ### - integration_ssr_tests
            - integration_test_types

      # Publish package.version @latest when a v.* git tag is present
      - publish_tagged_build_to_npm:
          filters:
            branches:
              ignore: /.*/
            tags:
              only: /^v.*/
          requires:
            - unit_tests
            ### - integration_tests
            ### - integration_ssr_tests
            - integration_test_types
