<div class="todo-list">
  <div>
    <h3>Reactive Form</h3>
    <form [formGroup]="pizzaForm" novalidate (ngSubmit)="onSubmit()" ngxsForm="todos.pizza">
      Toppings: <input type="text" formControlName="toppings" />
      <br>
      Crust <input type="text" formControlName="crust" />
      <br>
      Extras
      <span *ngFor='let extra of extras; let i=index'>
              <input type='checkbox' [formControl]='extra'/> {{allExtras[i].name}}
            </span>
      <br><hr>
      <button type="submit">Set Olives</button>
      <button type="button" (click)="onPrefix()">Set Prfix</button>
      <button type="button" (click)="onLoadData()">Load Data</button>
    </form>
  </div>
  <br><br><hr>
  <ng-container *ngIf="count$ | async as count">
    <h3>
      Count is {{ count.value }}
      <span *ngIf="isLoading">loading...</span>
    </h3>
    <div class="add-counter">
      <button (click)="loadCountData()">Load data from server</button>
      <button (click)="counterValue.emit(count.value + 1)">Increment (+1)</button>
      <button (click)="counterValue.emit(count.value - 1)">Decrement (-1)</button>
      <button (click)="counterClear()">Clear</button>
    </div>
  </ng-container>
  <br><br><hr>
  <h3>Todo Form</h3>
  <div class="add-todo">
    <input placeholder="New Todo" #text>
    <button (click)="addTodo(text.value)">Add</button>
  </div>
  <ul>
    <li class="todo" *ngFor="let todo of todos$ | async; let i = index">
      {{todo}} <button (click)="removeTodo(i)">🗑</button>
    </li>
    <li *ngFor="let todo of pandas$ | async">
      🐼
    </li>
  </ul>
  <router-outlet></router-outlet>
</div>
