html {
  height: 100%;
  display: flex;
  background: #f5f5f5;
  font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
  line-height: 1.4em;
  color: #4d4d4d;
  min-width: 230px;
  max-width: 550px;
  margin: 0 auto;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  font-weight: 300;
}

body {
  width: 100%;
  margin: auto;
}

ul, li {
  padding:0;
  margin: 0;
  list-style: none;
}

button {
  background: none;
}

.add-todo {
  position: relative;
  padding: 1em;
  display: flex;

  input {
    display: inline-flex;
    width: 100%;
    margin-right: 5px;
  }
}

.todo-list {
  background: #FFF;
  font-size: 20px;
  max-width: 30em;
  margin: auto;
  padding: 0.5em 1em;
  box-shadow: 0 5px 30px rgba(0, 0, 0, 0.2);
}

.todo {
  display: block;
  position: relative;
  text-align: center;
  padding: 1em;
  margin: 0 auto;
  border-top: solid 1px #ddd;
}
